<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ title | translate }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" style="min-height: 60px;;">
        <div [innerHTML]="message | safeHtml">
        </div>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions m-0 p-16" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button (click)="cancel()" class="save-button" aria-label="SAVE"
            class="mat-raised-button mr-4">
            {{ label | translate }}
        </button>
    </div>
</div>