<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ 'lbl_imagemEstrutura' | translate }}</span>
            <!-- <button mat-icon-button (click)="matDialogRef.close()" aria-label="">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-12 m-0" style="min-height: 300px; display: inline-grid;" fusePerfectScrollbar>
        <form action="/" class="dropzone" method="post" enctype="multipart/form-data">
            <div class="fallback">
                <div class="dz-message">
                    <dropzone #picture_dropzone class="image-uploader" (success)="onUploadSuccess($event)"
                        (error)="onUploadError($event)" (removedFile)="removePicture($event)" [config]="dropZoneConfig"
                        [message]="icon_image"></dropzone>
                </div>
            </div>
        </form>

    </div>
    <div mat-dialog-actions class="m-0 p-12 mat-dialog-actions" fxLayout="row" fxLayoutAlign="start center">
        <button *ngIf="action !== 'edit'" mat-raised-button color="accent" class="mr-2" (click)="goSave()"
            [disabled]="imageForm.invalid || !hasImage" aria-label="SAVE">
            <mat-icon>save</mat-icon>
            SALVAR
        </button>

        <button mat-raised-button class="mr-2" (click)="matDialogRef.close()" aria-label="Close" matTooltip="Close">
            CANCELAR
        </button>
    </div>
</div>