@import "src/@fuse/scss/fuse";

.ticket {
    @include media-breakpoint("xs") {
        width: 95%;
        min-width: 95% !important;
        max-width: 900px !important;

        span {
            &.mat-button-wrapper {
                font-size: 12px;
            }
        }
    }

    @include media-breakpoint("gt-xs") {
        width: 95%;
        min-width: unset !important;
        max-width: 900px !important;
    }

    mat-dialog-content {
        max-height: unset;
        height: 100%;
        padding: 0px !important;
        overflow-y: hidden;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .mat-tab-body.mat-tab-body-active {
        overflow-y: hidden;
    }

    .mat-tab-body-content {
        overflow-y: hidden;
    }

    .tag {
        font-size: 14px;
        border-radius: 2px;
        margin: 8px 4px 0 0;
        padding: 3px 8px;

        .tag-color {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 50%;
        }
    }
}

.scrumboard-members-menu {
    width: 240px;

    .mat-checkbox-layout,
    .mat-checkbox-label {
        display: flex;
        flex: 1;
    }
}

.section-files {
    border-bottom: 0px solid #dbdbdb;
    margin-bottom: 0px;
    padding-bottom: 6px;
}

.stepper-info {
    margin-bottom: 16px;

    .text {
        font-size: 13px;
        padding-left: 12px;
        padding-top: 3px;
    }
}

body .internal-form .mat-form-field-wrapper,
.mat-form-field-appearance-outline .mat-form-field-wrapper,
cruzzy-select {
    margin: 5px !important;
}