@import "src/@fuse/scss/fuse";

.transfer {
    @include media-breakpoint("xs") {
        width: 95%;
        min-width: 95% !important;
        max-width: 600px !important;
    }

    @include media-breakpoint("gt-xs") {
        width: 95%;
        min-width: unset !important;
        max-width: 700px !important;
    }

    mat-dialog-content {
        max-height: unset;
        height: 100%;
        padding: 0px !important;
        // overflow-y: hidden;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    // .mat-slide-toggle-bar {
    //     background-color: rgba(0, 0, 0, 0.15) !important;
    // }
    // .mat-slide-toggle-thumb{
    //     background-color: rgb(240, 139, 94) !important;
    // }
    .mat-slide-toggle-bar {
        margin-left: 8px;
        margin-right: 8px;
    }
}

::ng-deep .ng-dropdown-panel {
    z-index: 9999999 !important;
}