<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Demandas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procurar por uma demanda">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    matRipple
                    [routerLink]="'/apps/demandas/detalhes/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>NOVA DEMANDA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.codigo}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <!-- <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image"
                             *ngIf="product.featuredImageId" [alt]="product.name"
                             [src]="product.images[product.featuredImageId].url"/>
                        <img *ngIf="!product.featuredImageId"
                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="descricao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.descricao}}</p>
                    </mat-cell>
                </ng-container>

                <!-- TIPO Column -->
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.tipo.descricao}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- GRUPO Column -->
                <ng-container matColumnDef="grupo">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Grupo</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.grupo.descricao}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- AREA Column -->
                <ng-container matColumnDef="area">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Área</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.area.descricao}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ATENDIMENTO Column -->
                <ng-container matColumnDef="atendimento">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Atendimento</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.atendimento.descricao}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <div fxFlex="row" fxLayoutAlign="end center">            
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
            
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="remove" (click)="delete(product)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                            </mat-menu>
                        </div>
            
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         
                         [routerLink]="'/apps/demandas/detalhes/'+product.codigo">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
