@import "src/@fuse/scss/fuse";

.unreaded-novelties {
    @include media-breakpoint("xs") {
        width: 100%;

        mat-toolbar-row {
            padding: 16px;

            span {
                font-size: 14px;
                line-height: 150%;
            }
        }

        .mat-dialog-content {
            height: 50vh;
        }
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-content {
        height: 100vh;
    }
}