@import "src/@fuse/scss/fuse";

.export-grid-warning {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 600px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 40vh;
        display: flex;
        flex-direction: column;
    }
}