<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{'lbl_dsAprovarChamado' | translate }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar fxLayout="column"
        [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
        <div [formGroup]="dataForm" fxLayout="column" class="w-100-p">
            <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="5px"
                class="w-100-p pb-12">
                {{ 'lbl_msgConfirmarAprovacaoReembolso' | translate }}
            </div>
            <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="5px"
                class="w-100-p">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                    <mat-label>{{ 'lbl_valorReembolso' | translate }}</mat-label>
                    <input name="refund_value" formControlName="refund_value"
                        title="{{ 'hint_valorReembolso' | translate }}" matInput currencyMask>
                </mat-form-field>
                <cruzzy-month-picker fxFlex [formGroup]="dataForm" [componentId]="'referenciaDatePicker'"
                    [titleText]="'hint_dtReferencia'" [labelText]="'lbl_dtReferencia'" [fieldName]="'reference'"
                    [writable]="false">
                </cruzzy-month-picker>
            </div>
            <form *ngIf="justification" class="" [formGroup]="dataForm">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{ lblInput | translate}}</mat-label>
                        <textarea rows="10" name="justification" formControlName="justification" maxlength="500"
                            matInput></textarea>
                    </mat-form-field>
                </div>
            </form>
            <div *ngIf="resumeOn" class="w-100-p p-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-checkbox class="example-margin" name="send_summary" formControlName="send_summary"
                    [labelPosition]="'before'" [disabled]="false">
                </mat-checkbox>
                <span class="resume-text">{{ resummeCheckbox | translate }}</span>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="mat-dialog-actions m-0 p-16" fxLayout="row" fxLayoutAlign="start center">
        <button [disabled]="dataForm.invalid" mat-raised-button color="accent" (click)="confirm()"
            class="mr-4 save-button" aria-label="SAVE" class="mat-raised-button mat-button-base mr-4">
            <mat-icon>thumb_up</mat-icon> {{ 'lbl_aprovarChamado' | translate }}
        </button>
        <button mat-raised-button (click)="cancel()" class="save-button" aria-label="SAVE"
            class="mat-raised-button mr-4">
            {{ 'btn_cancelar' | translate }}
        </button>
    </div>
</div>