@import "src/@fuse/scss/fuse";

.confirm {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.mat-list-base .mat-list-item {
    font-size: 14px;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 24px;
}
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
    font-size: 20px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
.mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
    padding-left: 0px;
}
