<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{_data.title}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="overflow: hidden !important;">
        <mat-list>
            <div mat-subheader>{{_data.message}}</div>
            <mat-list-item *ngFor="let data of _data.data">
                <mat-icon mat-list-icon>{{ data.icon ? data.icon : 'person' }}</mat-icon>
                <div mat-line>{{ data.employee_name ? data.employee_name : data.name }}
                    <span *ngIf="_data.signature">
                        <span *ngIf="data.package_id == null">{{ 'lbl_naoEscolheu' | translate }}</span>
                        <span *ngIf="data.status == 'PENDING'">{{ 'lbl_naoAssinou' | translate }}</span>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions m-0 p-16" fxLayout="row" fxLayoutAlign="start center">
        <button *ngIf="_data.confirm" mat-raised-button color="accent" (click)="confirm()" class="mr-4 save-button"
            aria-label="SAVE" class="mat-raised-button mat-button-base mr-4">
            <mat-icon>alarm_off</mat-icon> {{ 'btn_fechaEleicao' | translate }}
        </button>
        <button mat-raised-button (click)="cancel()" class="save-button" aria-label="SAVE"
            class="mat-raised-button mr-4">
            {{ btn_cancelar | translate }}
        </button>
    </div>
</div>