<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ title | translate }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0 pb-0" fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
        <form [formGroup]="justificationForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ lblInput | translate}}</mat-label>
                    <textarea rows="10" name="reproval_justification" formControlName="reproval_justification"
                        maxlength="500" matInput></textarea>
                </mat-form-field>
            </div>
        </form>
        <div *ngIf="resumeOn" class="w-100-p p-0 pb-16" fxLayout="row" fxLayoutAlign="start center"
            style="padding-bottom: 24px !important;">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" [labelPosition]="'before'" [disabled]="false">
            </mat-checkbox>
            <span class="resume-text">{{ resummeCheckbox | translate }}</span>
        </div>
    </div>
    <div mat-dialog-actions class="m-0 py-16 px-24" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button [color]="iconButton == 'thumb_down' ? 'warn' : 'primary' " (click)="refuse()"
            [disabled]="justificationForm.invalid" class="mat-raised-button mb-4 mobile-button-100">
            <mat-icon *ngIf="iconButton">{{iconButton}}</mat-icon> {{ lblButton | translate }}
        </button>
        <button *ngIf="!mandatory" mat-raised-button color="" (click)="cancel()" class="save-button"
            class="mat-raised-button  mb-4 mobile-button-100">
            {{ 'btn_cancelar' | translate }}
        </button>
    </div>
</div>